<!-- <a href="{{ .Permalink }}"> -->
<!--   <h1 class="summary-heading">{{ .Title }}</h1> -->
<!--   <p class="summary-para">{{ .Summary }}</p> -->
<!--   <div class="summary-details"> -->
<!--     <span>{{ .ReadingTime }} Minutes</span> -->
<!--     <span>{{ .Date.Format "Jan 2, 2006" }}</span> -->
<!--     <span>{{ .WordCount }} Words</span> -->
<!--   </div> -->
<!-- </a> -->

<article class="post">
  <section>
    <h1 class="summary-heading"><a href='{{ .Permalink }}'> {{ .Title }}</a> </h1>
    <div class="post-meta">{{ .Lastmod.Format "Mon, Jan 2, 2006" }} - {{ div .FuzzyWordCount 240 }} minutes to read </div>
  </section>
  <section class="summary-details">
  {{ .Summary }}
  </section>
  <a href='{{ .Permalink }}'><nobr>Read more →</nobr></a>
</article>
