{{ define "main" }}
<div class="content">
<section>
  <h1>{{ .Title }}</h1>
  <p>Created At {{ .Date.Format "Mon Jan 2, 2006" }}</p>
  <p>Last Modified: {{ .Lastmod.Format "Mon Jan 2, 2006 15:04" }}</p>
  <p>{{ div .WordCount 240 }} minutes to read</p>


{{ partial "tag.html" .}}
  <div class="table-of-contents">
    {{ .TableOfContents }}
  </div>
  <div>
    <article>
      {{ .Content }}
    </article>
  </div>
</section>


<aside>
  <div class="section-aside">
    {{ with .PrevInSection }}
    <a class="previous" href="{{ .Permalink }}"> {{.Title}}</a>
    {{ end }}
    {{ with .NextInSection }}
    <a class="next" href="{{ .Permalink }}"> {{.Title}}</a>
    {{ end }}
  </div>
</aside>
</div>
{{ end }}
